<script>
  CKEDITOR.replace( 'description' );
  CKEDITOR.replace( 'blog[description]' );
  CKEDITOR.replace( 'comment[text]' );
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>
</html>